.image-container {
    position: relative;
    overflow: hidden;
  }
.image-container img {
    width: 100%;
    height: auto;
  }
.text-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 100%;
  }

body {
    background-color: #ADD8E6; 
    color: #FFFFFF; 
  }
.navbar {
    background-color: #001f3f;
    color: #ffffff;
  }
.title {
    margin-top: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color:#001f3f;
  }
.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px; 
    color: #001f3f;
  }
.text-block {
    margin-top: 20px;
  }
.image-container {
    margin-top: 20px;
  }
.image-container img {
    max-width: 100%;
    height: auto;
  }
.v-center {
    display: flex;
    align-items: center;
  }
.navbar-light .navbar-toggler {
    background-color: white;
  }

.rounded-image {
    border-radius: 30%;
    margin-right: 60%;
    height: 20px;
    width: 20px;
  }
#image-small
{
  margin-left: 75%;
  height: 170px;
  width: 100px;
}

.user-container {
  display: flex;
  justify-content: center;
}

.user {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.user img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#zoekbalk
{
  margin-left: 1000px;
}

#gegevens{
  max-width: 600px;
  margin: 0 auto;
}

#h3kleur
{
  color: #001f3f;
}

#fixedfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}